* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{

    /* Colors */
    --red-400: #f25c54;
    --red-500: #de473f;
    --red-700: #c7231a;
    --btn-bg-clr: hsl(200, 60%, 99%);
    --toggle-bg-clr: hsl(0, 0%, 78%);
    --text-muted-clr: hsl(225, 23%, 24%);
    --bg-clr: hsl(200, 60%, 99%);
    --bg-linear: linear-gradient(180deg, hsl(215, 74%, 95%) 0%, hsl(185, 48%, 95%) 100%);
    --them-switch-bg: #EDEDED;


    /* font sizes */
    --fs-xs: 14px;
    --fs-sm: 16px;
    --fs-md: 28px;

    /* Spacing */
    --space-xs: 8px;
    --space-sm: 10px;
    --space-md: 12px;
    --space-lg: 16px;
    --space-xl: 24px;

    /* border radius */
    --radius-sm: 10px;
    --radius-lg: 16px;
    --radius-xl: 20px;

    /* Box Shadow */
    --box-shadow-sm: 0 4px 4px rgba(149, 157, 165, .2);
}

.darkmode {
     /* Dark mode */
    --bg-clr: #1F2535;
    --bg-linear: linear-gradient(180deg, hsl(215, 50%, 18%) 0%, hsl(185, 45%, 18%) 100%);
    --btn-bg-clr: #2F354B;
    --them-switch-bg: #2F354B;
    --text-muted-clr: white;
}

body {
    font-family: "noto-sans", sans-serif, system-ui;
    background-image: var(--bg-linear);
    color: var(--text-muted-clr); 
}

.container {
    /* padding: 24px 16px; */
    padding: var(--space-xl) var(--space-lg);
}

.header {
    text-align: center;
    background-color: var(--bg-clr);
    width: 100%;
    height: 64px;
    /* padding: 8px 12px; */
    padding: var(--space-xs) var(--space-md);
    /* border-radius: 10px; */
    border-radius: var(--radius-sm);
    border: 1px solid #d6e2f5;
    box-shadow: var(--box-shadow-sm);



}
.extension{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.theme-switch {
    display: flex;
    background-color: var(--them-switch-bg);
    /* padding: 12px; */
    padding: var(--space-md);
    /* border-radius: 16px; */
    border-radius: var(--radius-lg);
    cursor: pointer;
}
.theme-switch img:last-child {
    display: none;
}

.darkmode #dark{
    display: none;
}

.darkmode #light{
    display: block;
}

/* -------------------------header finished----------------------- */
.extension-page{
    margin-top: 40px;
}

.extension-toolbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-bottom: 16px;
}

.extension-toolbar h1{
    font-size: var(--fs-md);
    font-weight: 700;
}

.extension-filter{
    display: flex;
    gap: 8px;
}
.extension-filter button{
    border: none;
    /* padding: 10px 16px; */
    padding: var(--space-sm) var(--space-lg);
    background-color: var(--btn-bg-clr);
    /* border-radius: 20px; */
    border-radius: var(--radius-xl);
    color: var(--text-muted-clr);
    font-size: var(--fs-sm);
    border: 1px solid #d6e2f5;
    cursor: pointer;
}

/* .extension-filter button:focus{
    background-color: var(--red-500);
    color: var(--bg-clr);
} */

.tab-btn.active {
    background-color: var(--red-500);
    color: var(--bg-clr);
}

/* -----------------------Extension list-------------------------- */


.extension-list{
   display: grid;
   gap: 1rem;

}
.extension-card{
    /* padding: 16px; */
    padding: var(--space-lg);
    background-color: var(--bg-clr);
    box-shadow: var(--box-shadow-sm);
    /* border-radius: 1rem; */
    border-radius: var(--radius-lg);
    margin-bottom: 14px;
    min-height: 164px;
    border: 1px solid #d6e2f5;
    display: flex;
    flex-direction: column;
}

.extension-data{
    display: flex;
    gap: 1rem;
}

.extension-data img{
    margin-bottom: auto;
}

.extension-info{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.extension-info p{
    font-size: var(--fs-xs);
    font-weight: 400;
    color: var(--text-muted-clr);
    opacity: .8;
    line-height: 1.5;
}

.extension-control button{
    border: none;
    /* padding: 8px 16px; */
    padding: var(--space-sm) var(--space-lg);
    /* border-radius: 20px; */
    border-radius: var(--radius-xl);
    border: 1px solid #d6e2f5;
    background-color: var(--bg-clr);
    font-weight: 600;
    cursor: pointer;
    color: var(--text-muted-clr);
}

.extension-control button:hover{
    background-color: var(--red-700);
    color: var(--bg-clr);
}

input[type="checkbox"] {
    display: none;
}

.toggleSwitch{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 20px;
    background-color: var(--toggle-bg-clr);
    position: relative;
    /* border-radius: 10px; */
    border-radius: var(--radius-sm);
    cursor: pointer;
}

.toggleSwitch::after{
    content: "";
    position: absolute;
    height: 16px;
    width: 16px;
    background-color: white;
    border-radius: 50%;
    left: 2px;
    /* right: 2px; */
    transition: 0.2s;
}

input[type="checkbox"]:checked+ .toggleSwitch::after{
    transform: translateX(95%);
    transition: 0.2s;
}

input[type="checkbox"]:checked+ .toggleSwitch{
    background-color: var(--red-400);
    transition: 0.2s;
}

.extension-control{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
}